// Define variables for your color scheme

// Menyoo Color Scheme
$navbar-gray: rgb(249, 249, 249);
$menyoo-blue: #1D5CA3;
$menyoo-accent: #E67E22;
$menyoo-gray: #717171;

// Admin App
// $payment-button-unpaid: #D87A7A;
// $payment-button-paid: #7CD683;

$button-color-checkedin: #F8961E;
$button-color-ordered: #F94144;
$button-color-closed: #90BE6D;
$button-color-unpaid: #F94144;
$button-color-paid: #90BE6D;


// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$mid-gray: #BEBFC1;
$dark-gray: #404248;
$middle-gray: #9e9e9e;
$mid-light-gray: #9e9e9e59;


