
// Screen max width
$width-iphone: 500px;

// X-Large card height
$card-x-large-height: 160px;

// Large card height
$card-large-height: 120px;

// Medium card height
$card-medium-height: 87px;

// Small card height
$card-small-height: 65px;
