// Specific CSS for your home-page

body {
  background-color: rgba(0,0,0,0.9);
}

h1 {
  font-size: $font-size-title-lg;
  color: $font-color-light-grey;
}

h2 {
  font-size: $font-size-title;
  color: $font-color-dark-grey;
}

h3 {
  font-size: $font-size-body;
  font-weight: bolder;
  color: $font-color-body;
}

p {
  font-size: $font-size-body;
  color: $font-color-body;
  margin-bottom: 0;
}

a:hover {
  text-decoration: none;
}

.grey-font {
  color: $font-color-light-grey;
}

.blue-font {
  color: $menyoo-blue;
}

.accent-font {
  color: $menyoo-accent;
}

.container-ios {
  position: relative;
}

.menyoo-title {
  font-family: $menyoo-font;
  font-size: 28px;
  font-weight: bolder;
  color: $menyoo-blue;
}

.banner-img img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vertical-center {
  align-items: center;
}

.search-section {
  margin-top: 24px;
}

.blue-font {
  color: $menyoo-blue;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.table-header {
  margin: 8px auto 24px auto;
  text-align: center;
}

.carousel-button {
  height: 100%;
  width: 50px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  margin: 8px 0 16px 0;
  p {
    color: white;
    font-size: 30px;
    padding: 12px;
  }
}

.carousel-back {
  position: absolute;
  left: 0px;
  top: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 150px;
  width: 50px;
  border-radius: 8px;
  background-color: rgba(0,0,0,0.25);
  margin: 8px 0 16px 0;
  z-index: 1;
  p {
    color: white;
    font-size: 30px;
    padding: 12px;
  }
}

.carousel-forward {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 150px;
  width: 50px;
  border-radius: 8px;
  background-color: rgba(0,0,0,0.25);
  margin: 8px 0 16px 0;
  z-index: 1;
  p {
    color: white;
    font-size: 30px;
    padding: 12px;
  }
}

.new-review {
  width: 260px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

.new-review-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-section {
  margin: 16px 0;
}
