.login-screen {
  display: flex;
  flex-direction: column;
}

.login-content {
  width: 260px;
  display: flex;
  flex-direction: column;
  margin: 24px auto;
  text-align: center;
}

.login-menyoo {
  width: 150px;
  height: 150px;
  margin: 24px 0 16px 0;
}
