.checkedin-modal {
  display: flex;
  justify-content: space-around; /* ====> centered horizontally */
  // align-items: center; /* ====> centered vertically */
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0px;
  top: 48px;
  background-color: rgba(0,0,0,0.4);
  z-index: 2;
}

.modal-box {
  margin-top: 100px;
  width: 300px;
  height: 400px;
  padding: 24px;
  text-align: center;
}

.modal-box-booking {
  margin-top: 150px;
  width: 300px;
  height: 300px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.modal-box-review {
  margin-top: 100px;
  width: 300px;
  height: 372px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 24px;
}

.create-booking-title {
  margin-bottom: 40px;
}

.create-booking-button {
  margin-top: 40px;
}


.qr-code img {
  width: 200px;
  height: 200px;
  margin: 16px auto;
}

.button-modal {
  height: 40px;
  background-color: $menyoo-blue;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 16px auto;
  cursor: pointer;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.modal-buttons {
  padding: 12px;
}

.button-modal-cancel {
  width: 90px;
  background-color: $font-color-light-grey;
  margin-left: 9px;
}

.button-modal-checkedin {
    width: 107px;
    margin-right: 9px;
    background-color: $menyoo-blue;
}
