

<div class="search-bar">
	
</div>	

<div class="grid-container grid-title">
	
	<div class="grid-item"> <h2>Orders </h2> </div>	
	<div class="grid-item"> <h2>Booking ID</h2> </div>	
	<div class="grid-item"> <h2>Booker</h2> </div>
	<div class="grid-item"> <h2>Attendees</h2> </div>
	<div class="grid-item"> <h2>Ordered</h2> </div>
	<div class="grid-item"> <h2>Orders</h2> </div>
	<div class="grid-item"> <h2>Time since order</h2> </div>
	<div class="grid-item"> <h2>Bill value</h2> </div>
	<div class="grid-item"> <h2>Payment status</h2> </div>

</div>

<div id="container" > 

	<%= render 'shared/ad_dashboard' %>

</div>

 
 <script>
 		$(document).ready(function() {
           setInterval(function() {
            $("#container").load("admin/bookings/refresh_orders");
            console.log("AJAX request loaded fuck yes!")
        }, 6000);
});
</script>





