<!-- 
<div class="container-dashboard">
	

<div class="container-grid">

	<h1>Checked-in </h1> 

</div>

<div class="container-grid">
	
	<h1> Ordered</h1> 

</div>

<div class="container-grid">

	<h1> Paid</h1> 

</div>


</div> -->


<div id="container-main"> 

	<%= render 'shared/ad_dashboard' %>

</div>





