
<div class="card-box-shadow ">
  <p><h3>Your table for <%= @booking.attendees.count %> at: </h3></p>
  <p><%= @booking.restaurant.name %></p>
  <p><%= @booking.date %></p>
</div>

<div class="card-medium card-box-shadow ">
  <h3> Add Attendee</h3>
</div>

<div class="card-medium card-box-shadow">
  <h3>View Attendees</h3>
</div>

<div class="card-medium card-box-shadow">
  <h3>Make your selection</h3>
</div>

<div class="card-medium card-box-shadow">
  <h3>Table order</h3>
</div>


