<!-- Conditional formatting of the tab buttons -->
<% content_for(:tab_user_class, "tab_user_active") %>
<!-- end -->

<%  @page_title = "My reviews" %>


  <% @user.reviews.each do |review| %>
  <% restaurant = review.booking.restaurant %>
    <div class="card-box-shadow card-large">
      <div class="card-large-img">
        <%= cl_image_tag(restaurant.photo,width: 400, height: 300, crop: :fill) %>
      </div>
      <div class="card-large-content">
        <%= link_to restaurant_path(restaurant) do %>
          <h3><%= restaurant.name %></h3>
        <% end %>
        <p><%= review.content %></p>
      </div>
    </div>
  <% end %>
