<!-- Conditional formatting of the tab buttons -->
<% content_for(:tab_user_class, "tab_user_active") %>
<!-- end -->

<%  @page_title = "My reviews" %>

<% @user.reviews.each do |review| %>
  <h3><%= review.booking.restaurant.name %></h3>
  <p><%= review.content %></p>
<% end %>
