<%  @page_title = "#{@user.first_name}'s profile" %>

<div>
  <div class="text-center">
  <%= cl_image_tag(current_user.photo, :class => "avatar-extra-large button-area") %>
  </div>
  <div class="card-small card-box-shadow button-area">
    <%= link_to previous_bookings_path, class: "link" do %>
      <h3>Previous bookings</h3>
    <% end %>
  </div>
  <div class="card-small card-box-shadow button-area">
    <%= link_to edit_user_registration_path, class: "link" do %>
      <h3>Yours details</h3>
    <% end %>
  </div>
  <div class="card-small card-box-shadow button-area">
    <h3 class="link">Help</h3>
  </div>
</div>

