
<div class="checkedin-modal">
  <div class="card-box-shadow modal-box">
    <h1>Check-in with your Waiter</h1>
    <div class="qr-code">
      <%= image_tag("qrcode.jpg") %>
    </div>
    <div class="modal-buttons button-area flex-between">
      <div class="button-modal button-modal-cancel">Cancel</div>
      <div class="button-modal button-modal-checkedin">Checked-In</div>
    </div>

  </div>
</div>
