<div class="checkedin-modal">
  <div class="card-box-shadow modal-box">
    <div>
      <h3>Check-in with your waiter</h3>
      <div class="qr-code">
        <%= image_tag("qrcode.jpg") %>
      </div>
      <div class="modal-buttons  flex-between">
        <div class="button-modal button-modal-cancel">
          Cancel
        </div>
        <% if @restaurant && @booking %>
          <%= link_to restaurant_booking_checkin_path(@restaurant, @booking) do %>
            <div class="button-modal button-modal-checkedin">
              Checked-in
            </div>
          <% end %>
        <% else %>
          <div class="button-modal button-modal-checkedin">
            Wrong Path !
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>