<div class="navbar-ios">
  <div class="navbar-content">
    <div class="navbar-back">
      <p><i class="fas fa-chevron-left"></i></p>
    </div>
    <div class="navbar-title">
      <% if current_page?('/') %>
        <div class="menyoo-title"><strong>Menyoo</strong></div>
      <% else %>
        <p class="text-center"><strong><%= @page_title %></strong></p>
      <% end %>

    </div>
    <div class="navbar-checkin">
      <p><i class="fas fa-toggle-off"></i></p>
    </div>
  </div>
</div>
