<div class="navbar-ios">
  <div class="navbar-content">

    <div class="navbar-back same-space">
      <%= link_to root_path do %>
        <p class="<%= yield(:nav_chevron_class) %>">
          <i class="fas fa-chevron-left"></i>
        </p>
      <% end %>
    </div>

    <div class="navbar-title same-space">
      <% if current_page?('/') %>
        <p class="menyoo-title"><strong>Menyoo</strong></p>
      <% else %>
        <p><strong><%= @page_title %></strong></p>
      <% end %>
    </div>

    <div class="navbar-checkin same-space">
      <p><i class="fas fa-toggle-off"></i></p>
    </div>

  </div>
</div>
