<div class="navbar-ios">
  <div class="navbar-content">
    <div class="navbar-back">
      <p>Back</p>
    </div>
    <div class="navbar-title">
      <p><strong>Title</strong></p>
    </div>
    <div class="navbar-checkin">
      <p>Check-in</p>
    </div>
  </div>
</div>
