<div class="navbar-ios">
  <div class="navbar-content">
    <div class="navbar-back">
      <p>Back</p>
    </div>
    <div class="navbar-title">
      <% if current_page?('/') %>
        <div class="menyoo-title"><strong>Menyoo</strong></div>
      <% else %>
        <p><strong><%= @page_title %></strong></p>
      <% end %>

    </div>
    <div class="navbar-checkin">
      <p>Check-in</p>
    </div>
  </div>
</div>
