<div class="tabbar-ios">
  <div class="tabbar-content">
    <div class="navbar-back">
      <%= link_to root_path do %>
        <p>Home</p>
      <% end %>
    </div>
    <div class="navbar-title">
      <% if user_signed_in? %>
        <% if current_user.bookings.count != 0 %>
          <% @booking = current_user.bookings.last %>
          <% @restaurant = current_user.bookings.last.restaurant %>
          <%=  link_to restaurant_booking_path(@restaurant, @booking) do %>
            <p>Your Table</p>
          <% end %>
        <% else %>
          <p class = "tab-unavailable">No Table</p>
        <% end %>
      <% else %>
        <p class = "tab-unavailable">No Table</p>
      <% end %>
    </div>
    <div class="navbar-checkin">
      <p>User Profile</p>
    </div>
  </div>
</div>
