<div class="tabbar-ios">
  <div class="tabbar-content">
    <div class="navbar-back">
      <%= link_to root_path do %>
        <p>Home</p>
      <% end %>
    </div>
    <div class="navbar-title">
      <p>Current Table</p>
    </div>
    <div class="navbar-checkin">
      <p>User Profile</p>
    </div>
  </div>
</div>
