<div class="tabbar-ios">
  <div class="tabbar-content">
    <div class="navbar-back">
      <p>Home</p>
    </div>
    <div class="navbar-title">
      <p>Current Table</p>
    </div>
    <div class="navbar-checkin">
      <p>User Profile</p>
    </div>
  </div>
</div>
