
<h1>Restaurant Index</h1>

<% @restaurants.each do |restaurant| %>
  <h2>Name: <%= restaurant.name %></h2>
  <p>Address: <%= restaurant.address %></p>
  <p>Category: <%= restaurant.category %></p>
<% end %>
