
<h1>Restaurant Index</h1>

<% @restaurants.each do |restaurant| %>
  <div class="card-box-shadow">
    <%= link_to restaurant_path(restaurant) do %>
      <h2>Name: <%= restaurant.name %></h2>
    <% end %>
    <p>Address: <%= restaurant.address %></p>
    <p>Category: <%= restaurant.category %></p>
  </div>
<% end %>
