<!-- Conditional formatting of the tab buttons -->
<% content_for(:tab_user_class, "tab_user_active") %>
<!-- end -->

<%  @page_title = @restaurant.name %>

<% @restaurant.reviews.each do |review| %>
  <div class= "review-card">
    <div class>
      <%= cl_image_tag review.user.photo, class: "avatar" %>
    </div>
    <div class="review-whole">
      <div class="restaurant-name-card">
        <small><%= review.user.first_name %></small>
        <div style="line-height: 18px; font-size: 15px;">
          <div class="review-content-stars">
            <div style="display:flex;">
              <% review.rating.times do %>
                <i class="fas fa-star icon-stars"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <p><%= review.content %></p>
    </div>
  </div>
<% end %>
