.button-area {
  text-align: center;
}

.button {
  height: 32px;
  background-color: $menyoo-blue;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 16px auto;
  cursor: pointer;
  border-radius: 50px;

}

.button-long {
  padding: 0px 112px;
}


.button-place-order {
  background-color: #D4D7DC;
  padding: 0px 112px;
}

.order-status {
  height: 50px;
  width: 80px;
  font-size: $font-size-small;
  border: solid 1px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 15px;
  padding-top: 5px;
  padding-bottom: 10px;
  justify-content: center;
}

.order-status-ordered {
  background-color: #9CF196;
  color: white;
}

.order-status-not-ordered {
  background-color: #D4D7DC;
  color: white;
}


