.card-box-shadow {
  overflow: hidden;
  width: 100%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  align-items: center;
  border-radius: 8px;
}

.card-large {
  display: flex;
  height: $card-large-height;
  margin: 16px 0px;
}

.card-medium {
  display: flex;
  height: $card-medium-height;
  margin: 16px 0px;
}

.card-medium-attendees {
  display: flex;
  height: $card-medium-height;
  margin: 16px 0px;
  width: 100%;
  img {
    margin-right: 24px;
  }
}

.card-small {
  display: flex;
  height: $card-small-height;
  margin: 16px 0px;
}

.card-large img {
  height: $card-large-height;
  width: $card-large-height;
  object-fit: cover;
}

.card-medium img {
  height: $card-large-height;
  width: $card-large-height;
  object-fit: cover;
}


.card-small img {
  height: $card-small-height;
  width: $card-small-height;
  object-fit: cover;
}

.card-large-content {
  padding: 16px;
  width: 100%;
  max-height: 145px;
    p {
    font-size: 13px;
    }
    .timeprice{
      display:flex;
      justify-content:space-between;
      width: 100px;
      p {
        color: $menyoo-blue;
        font-weight:bold;
        padding:5px;
      }
    }

  }



.card-large-content-bookings {
  padding: 16px;
  width: 100%;
  img {
    height: 48px;
    width: 48px;
  }
}

.card-medium-content {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

.order-status-card {
  display: flex;
}

.card-order {
  flex-direction: row;
}

.card-submenu {
  padding: 16px;
  h3 {
    margin-bottom: 0;
    color: $font-color-dark-grey;
  }
}

.card-invitation{
  padding: 16px;
}

.card-order-summary {
  padding-top: 10px;
  padding-left: 10px;
  width: 100%;
}

.review-card{
  overflow: hidden;
  width: 100%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  margin: 40px 0;
  border-radius: 8px;
  img {
    margin: 4px;
  }
}
.review-content-stars{
  display:flex;
  justify-content:space-between;
  align-items:center;
  width:100%;
  margin-bottom: 8px;
  p{
    margin:0;

  }

}

.review-whole{
  width: 100%;
  padding: 16px;
  small{
    color: gray;

  }
}

.icon-stars{
    font-size: 11px;
    color: $menyoo-blue;
}

.restaurant-name-card{
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
  margin-bottom: 8px;
  h3 {
    margin-bottom: 0;
  }
}

.reviews-count{
  line-height: 18px;
  }

  .my-review-content-stars{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
    margin-bottom: 4px;
  }

.card-order-container {
  margin-bottom: 20px;
}

.container-to-order {
  border-bottom: solid 1px black;
  padding-top: 10px;
}

.container-ordered {
  border-bottom: solid 1px black;
  padding-top: 10px;
}

.button-payment {
  padding-top: 10px;
}

.card-bill-paid {
  text-align: center;
  height: $card-medium-height;
  margin: 16px 0px;
}

.card-order-add-remove {
  display: flex;
  justify-content: space-between;
}


