.mapboxgl-popup {
  max-width: 200px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  align-items: center;
  border-radius: 8px;
  height:520px;
}

.mapboxgl-popup-content {
  text-align: center;
    h2 {
      color: $menyoo-blue;
    }
}


#c {
  width: 400px;
  height: 300px;
}

