<div>
  <%= simple_form_for([@restaurant, @booking, @review]) do |f| %>
    <h1>How was your experience?</h1>
    <h1>Leave a review</h1>
    <%= f.input :content %>
    <%= f.input :rating %>
    <%= f.submit "Submit", class: "button button-long" %>
  <% end %>
</div>
