<!-- Hide CheckedIn Button on Pages other than specific booking -->
<% content_for(:nav_checkedin_class, "nav_checkedin_invisible") %>
<!-- end -->

<div style=>

  <%= simple_form_for([@restaurant, @booking, @review]) do |f| %>
   <h1>How was your experience?</h1>
   <br>
   <%= f.input :content %>
   <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience" %>
   <%= f.submit "Submit", class: "button button-medium" %>
  <% end %>
</div>
